# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/
*.env

# Editors
.vscode/
.idea/
*.swp


# Dependencies
/.venv
/.env

# Logs and databases
*.log
*.sqlite3
*.db


# Build files
dist/
build/
*.egg-info/

# Celery
celerybeat-schedule
celerybeat.pid


# Testing
.pytest_cache/
.coverage
htmlcov/
