<div hx-trigger="load" hx-get="/projects/first-load" hx-target=".projectCardList" hx-swap="outerHTML">
	<h2>Projects</h2>
	<form class="stacks">
		<label>
			<input type="radio" name="lang" value="all" hx-trigger="change" hx-get="/projects"
				hx-target=".projectCardList" hx-swap="outerHTML" checked />All</label>
		<label><input type="radio" name="lang" value="Python" hx-trigger="change" hx-get="/projects"
				hx-target=".projectCardList" hx-swap="outerHTML" />Python</label>
		<label><input type="radio" name="lang" value="JavaScript" hx-trigger="change" hx-get="/projects"
				hx-target=".projectCardList" hx-swap="outerHTML" />JavaScript</label>
		<label><input type="radio" name="lang" value="HTML" hx-trigger="change" hx-get="/projects"
				hx-target=".projectCardList" hx-swap="outerHTML" />HTML</label>
	</form>

	<div hx-get="/projects" hx-trigger="load" hx-swap="none">
		{% include "projects/projectCardList.html" %}
	</div>
</div>