{% block projectCard %}
<div
	class="p-3 m-2 flex flex-col items-center justify-center border-white border-2 text-xs lg:w-auto lg:h-36 md:h-24 md:w-40">
	<div class="mb-auto lg:text-lg hover:underline md:text-sm">
		<a href="{{ project.html_url }}" target="_blank">{{ project.name }}</a>
	</div>
	<p class="lg:text-sm text-xs">{{ project.tldr }}</p>
	<p class="text-sm hidden lg:block">Commits: {{project.commits}}</p>
	<p class="text-sm hidden lg:block">Latest update: {{project.update_time}}</p>
</div>
{% endblock %}