<div class="flex flex-wrap flex-row justify-center">
    {% for book_nest in books %}
    <div class="{% if loop.index % 2 == 1 %} mt-auto pt-4 {% else %} mb-auto pb-4 {% endif %} flex flex-col">
        {% for book in book_nest %}
        <form class="">
            <img src="{{ book.cover }}" alt="{{ book.title }}"
                class="rounded cursor-pointer flex items-center m-1 hover:delay-75 hover:shadow-slate-300 shadow-md "
                hx-post="/books/show" hx-target="#bookInfo" ; hx-trigger="mouseenter" />
            <input type="hidden" name="book_title" value="{{ book.title }}" />
            <input type="hidden" name="book_author" value="{{ book.author }}" />
        </form>
        {% endfor %}
    </div>

    {% endfor %}
</div>