<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 39px;
        height: 60px;
        padding: 0px 0px;
        overflow: hidden;
    }
</style>
<div>
    <div id="gr_grid_widget_1690698847">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
        <h2>
            <a style="text-decoration: none;" rel="nofollow"
                href="https://www.goodreads.com/review/list/168386063-viljami-kilkkil?shelf=read&utm_medium=api&utm_source=grid_widget">Viljami's
                bookshelf: read</a>
        </h2>
        <div class="gr_grid_container">
            <div class="gr_grid_book_container"><a
                    title="Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future" rel="nofollow"
                    href="https://www.goodreads.com/book/show/25541028-elon-musk"><img
                        alt="Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1518291452l/25541028._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Rautaesiripun takana" rel="nofollow"
                    href="https://www.goodreads.com/book/show/32766063-rautaesiripun-takana"><img
                        alt="Rautaesiripun takana" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1477432566l/32766063._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="The Unknown Kimi Räikkönen" rel="nofollow"
                    href="https://www.goodreads.com/book/show/40620347-the-unknown-kimi-r-ikk-nen"><img
                        alt="The Unknown Kimi Räikkönen" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1529794093l/40620347._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="The Gulag Archipelago: Complete Edition (Volume 1 2 3)"
                    rel="nofollow" href="https://www.goodreads.com/book/show/55938112-the-gulag-archipelago"><img
                        alt="The Gulag Archipelago: Complete Edition" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1605755494l/55938112._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="Ordinary Men: Reserve Police Battalion 101 and the Final Solution in Poland" rel="nofollow"
                    href="https://www.goodreads.com/book/show/647492.Ordinary_Men"><img
                        alt="Ordinary Men: Reserve Police Battalion 101 and the Final Solution in Poland" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387867571l/647492._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Stealth War: How China Took Over While America's Elite Slept"
                    rel="nofollow" href="https://www.goodreads.com/book/show/52765057-stealth-war"><img
                        alt="Stealth War: How China Took Over While America's Elite Slept" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1561148340l/52765057._SX50_SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="The Science of Energy: Resources and Power Explained"
                    rel="nofollow" href="https://www.goodreads.com/book/show/31178866-the-science-of-energy"><img
                        alt="The Science of Energy: Resources and Power Explained" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1472180084l/31178866._SX50_SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="How to Think Like a Roman Emperor: The Stoic Philosophy of Marcus Aurelius" rel="nofollow"
                    href="https://www.goodreads.com/book/show/39940169-how-to-think-like-a-roman-emperor"><img
                        alt="How to Think Like a Roman Emperor: The Stoic Philosophy of Marcus Aurelius" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1528401784l/39940169._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Kursk: The Greatest Battle" rel="nofollow"
                    href="https://www.goodreads.com/book/show/18944567-kursk"><img alt="Kursk: The Greatest Battle"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1385381756l/18944567._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Stalin's General: The Life of Georgy Zhukov" rel="nofollow"
                    href="https://www.goodreads.com/book/show/22797140-stalin-s-general"><img
                        alt="Stalin's General: The Life of Georgy Zhukov" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1406143906l/22797140._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="Tsar Nicholas II: A Life From Beginning to End (Biographies of Russian Royalty)"
                    rel="nofollow" href="https://www.goodreads.com/book/show/37540850-tsar-nicholas-ii"><img
                        alt="Tsar Nicholas II: A Life From Beginning to End" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1513326790l/37540850._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Hannibal: A Hellenistic Life" rel="nofollow"
                    href="https://www.goodreads.com/book/show/39096842-hannibal"><img alt="Hannibal: A Hellenistic Life"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1527536348l/39096842._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="Julius Caesar: Lessons in Leadership from the Great Conqueror (World Generals Series)"
                    rel="nofollow" href="https://www.goodreads.com/book/show/20221473-julius-caesar"><img
                        alt="Julius Caesar: Lessons in Leadership from the Great Conqueror" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1677808977l/20221473._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="Hitler's Master of the Dark Arts: Himmler's Black Knights and the Occult Origins of the SS"
                    rel="nofollow"
                    href="https://www.goodreads.com/book/show/22445596-hitler-s-master-of-the-dark-arts"><img
                        alt="Hitler's Master of the Dark Arts: Himmler's Black Knights and the Occult Origins of the SS"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1402275240l/22445596._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Rommel: Leadership Lessons from the Desert Fox" rel="nofollow"
                    href="https://www.goodreads.com/book/show/14351108-rommel"><img
                        alt="Rommel: Leadership Lessons from the Desert Fox" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348894283l/14351108._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="Prisoners of Geography: Ten Maps That Tell You Everything You Need to Know About Global Politics"
                    rel="nofollow" href="https://www.goodreads.com/book/show/35456133-prisoners-of-geography"><img
                        alt="Prisoners of Geography: Ten Maps That Tell You Everything You Need to Know About Global Politics"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1497781026l/35456133._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="The Dichotomy of Leadership: Balancing the Challenges of Extreme Ownership to Lead and Win"
                    rel="nofollow" href="https://www.goodreads.com/book/show/41750203-the-dichotomy-of-leadership"><img
                        alt="The Dichotomy of Leadership: Balancing the Challenges of Extreme Ownership to Lead and Win"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1536526352l/41750203._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="The Vanquished: Why the First World War Failed to End"
                    rel="nofollow" href="https://www.goodreads.com/book/show/31826845-the-vanquished"><img
                        alt="The Vanquished: Why the First World War Failed to End" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1472878322l/31826845._SX50_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a
                    title="Founding Weimar: Violence and the German Revolution of 1918–1919" rel="nofollow"
                    href="https://www.goodreads.com/book/show/32950215-founding-weimar"><img
                        alt="Founding Weimar: Violence and the German Revolution of 1918–1919" border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1478975019l/32950215._SY75_.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="The Russian Civil War by Evan Mawdsley (2008) Paperback"
                    rel="nofollow"
                    href="https://www.goodreads.com/book/show/127660158-the-russian-civil-war-by-evan-mawdsley-2008-paperback"><img
                        alt="The Russian Civil War by Evan Mawdsley (2008) Paperback" border="0"
                        src="https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png" /></a>
            </div>
            <br style="clear: both" /><br /><a class="gr_grid_branding"
                style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow"
                href="https://www.goodreads.com/user/show/168386063-viljami-kilkkil">Viljami Kilkkilä's favorite books
                »</a>
            <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Viljami, and even join a
                <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
        </div>

    </div>
</div>
<script
    src="https://www.goodreads.com/review/grid_widget/168386063.Viljami's%20bookshelf:%20read?cover_size=small&hide_link=&hide_title=&num_books=20&order=a&shelf=read&sort=date_added&widget_id=1690698847"
    type="text/javascript" charset="utf-8"></script>